@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #18181b;
    color: #eaeaea;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.tela {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 80px;
}

img {
    width: 25rem;
}

h1#titulo {
    font-size: 2.8rem;
}

h1#titulo > span {
    text-decoration: underline;
    text-decoration-color: #6b63ff;
}

h1#titulo > strong {
    color: #6C63FF;
}

section.form-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 30px;
    background-color: #28282e;
    padding: 20px;
    border-radius: 10px;
}

input {
    font-size: 1.1em;
    background-color: transparent;
    border: none;
    color: #eaeaea;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div#peso {
    background-color: #313138;
    padding: 8px;
}

div#altura {
    background-color: #313138;
    padding: 8px;
}

button#btn {
    padding: 10px;
    background-color: #eaeaea;
    color: #6C63FF;
    font-size: 1.7em;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.302);
    transition: background-color 0.2s, color 0.2s;
    width: 90%;
}

button#btn:hover {
    background-color: #6C63FF;
    color: #eaeaea;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 1.1em;
}

a {
    color: #6b63ff;
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: #eaeaea;
}

.hidden {
    display: none;
}

@media (max-width: 1020px) {
    div.tela {
        flex-direction: column-reverse;
    }

    h1#titulo {
        font-size: 2em;
    }

    img {
        width: 16rem;
    }

    input {
        width: 80%;
    }
}